<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <a href="">
                <h1>Perfil</h1>
            </a>
            <div class="h5">@VictorBlanco</div>
            <div class="h7 text-muted">Nombre: Victor Blanco</div>
            <div class="h7">
                Desarrollador Web, con conocimientos base o intermedios en PHP, Java, Python, Node.js.
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">Seguidores</div>
                <div class="h5">5.2342</div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">Siguiendo</div>
                <div class="h5">6758</div>
            </li>
            <li class="list-group-item">Wiedii- 2020</li>
        </ul>
    </div>
</div>