<app-navbar>

</app-navbar>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!--- Perfil-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <a href="">
                        <h1>Perfil</h1>
                    </a>
                    <div class="h5">@VictorBlanco</div>
                    <div class="h7 text-muted">Nombre: Victor Blanco</div>
                    <div class="h7">
                        Desarrollador Web, con conocimientos base o intermedios en PHP, Java, Python, Node.js.
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Seguidores</div>
                        <div class="h5">5.2342</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Siguiendo</div>
                        <div class="h5">6758</div>
                    </li>
                    <li class="list-group-item">Wiedii- 2020</li>
                </ul>
            </div>
        </div>


        <!--Publicaciones, ya que estos son los recursivos solo cree estos dos componentes que se reutilizan-->
        <div class="col-md-6 gedf-main">

            <app-comentario></app-comentario>

            <br />


            <div>
                <app-publicacion></app-publicacion>
                <br />
            </div>

            <br>
            <!---
            <div>
                <app-publicacion></app-publicacion>
            </div>
            <br>
            <div>
                <app-publicacion></app-publicacion>
            </div>
            -->
        </div>

        <!--menu Izquierda-->
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <!--menu Izquierda-->
    </div>
</div>