<section>
    <!--- \\\\\\\Post-->

    <div class="card gedf-card" *ngFor="let publicacion of listPublicaciones">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="" />
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">@VictorBlanco</div>
                        <div class="h7 text-muted">

                            <p>{{ publicacion.titulo }}</p>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!--San Google-->
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!--<a class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons"></i></a>-->
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2">

                <i class="fa fa-clock-o">{{publicacion.created_at}}</i>
            </div>
            <a class="card-link" href="#">
                <h5 class="card-title">
                    <p> {{publicacion.titulo}}</p>
                </h5>
            </a>

            <p class="card-text">
                <!--Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                -->
                {{publicacion.comentario}}
            </p>
        </div>

    </div>

    <!-- Post /////-->
</section>