<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand" style="color: azure"> Muro</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Busqueda
    </button>
    </form>
</nav>