<div>
    <form [formGroup]="form" (submit)="enviarData()" action="comentario">
        <section class="card ">

            <div class="card-body ">
                <div class="tab-content " id="myTabContent ">

                    <div class="mb-3 insertarForm ">
                        <label for="formTitulo " class="form-label ">Titulo</label>
                        <input formControlName="titulo" type="text " class="form-control " id="tituloComentario " placeholder="titulo ">

                    </div>

                    <div class="form-group ">
                        <label for="formMensage " class="form-label ">Contenido</label>
                        <textarea formControlName="textAreaComentario" class="form-control " id="mensage " rows="3 " placeholder="Que hay de Nuevo... "></textarea>
                    </div>
                </div>
                <div class="text-right ">

                    <button class="btn btn-primary ">Publicar</button>
                </div>
            </div>



        </section>
    </form>
</div>